{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s8">
            <h3>Editer mon profile</h3>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
