{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">

    <div class="container">
        <div class="row connectrow flex">
            <div class="col s6 offset-s3">
                <div class="">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                    </div>
                    <div class="row mgt15">
                        <div class="input-field col s12">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="row">
                        <button class="btn btn-small light-blue darken-2 mgl12" type="submit">
                            Connexion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
