<div class="card calls">
    <div class="card-content teal">
        <i class="material-icons left white-text">phone</i>
        <b>Appels</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="call-tabs">
            <li class="tab" id="call-tab-1"><a href="#call-list" class=" active teal-text" >Liste</a></li>
            <li class="tab" id="call-tab-2"><a href="#call-search" class="active teal-text">Recherche</a></li>
            <li class="tab" id="call-tab-3"><a href="#call-manage" class="teal-text" >gestion</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="call-list">
            liste appels en cours de traitement
        </div>
        <div id="call-search">
            form recherche
        </div>
        <div id="call-manage">
            Gestion ?
        </div>
    </div>
</div>
