<div class="card">
    <div class="card-content light-blue">
        <i class="material-icons left white-text">face</i>
        <b>Civilités</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width"  id="civil-tabs">
            <li class="tab" id="civil-tab-1"><a href="#civil-list" class="active light-blue-text">Liste</a></li>
            <li class="tab" id="civil-tab-2"><a href="#civil-add" class="light-blue-text" >Ajouter</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="civil-list">
            liste des civilités existantes (select)
        </div>
        <div id="civil-add">
            formulaire ajout
        </div>
    </div>
</div>
