<div class="card">
    <div class="card-content light-green">
        <i class="material-icons left white-text">local_offer</i>
        <b>Clients & véhicules</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="clients-tabs">
            <li class="tab" id="clients-tab-1"><a href="#clients-clients" class="active light-green-text">Clients</a></li>
            <li class="tab" id="clients-tab-2"><a href="#clients-vehicles" class="light-green-text" >Véhicules</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="clients-clients">
            <a href="#modal-add-client" class="btn modal-trigger light-green"><i class="material-icons">add</i></a>
             <a href="#modal-edit-client" class="btn modal-trigger light-green darken-2"><i class="material-icons">edit</i></a>
        </div>
        <div id="clients-vehicles">
            <a href="#modal-show-vehicles" class="btn modal-trigger light-green darken-3"><i class="material-icons">commute</i>Véhicules enregistrés</a>
        </div>
    </div>
</div>

<!-- FENETRE MODALE AJOUT FICHE CLIENT -->

<div id="modal-add-client" class="modal">
    <div class="modal-content">
        <h4>Ajouter un client</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                {% include 'client/new.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- FENETRE MODALE EDITION FICHE CLIENT -->

<div id="modal-edit-client" class="modal">
    <div class="modal-content">
        <h4>Editer une fiche client</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-client-name" class="autocomplete">
                    <label for="autocomplete-input">Saisissez le nom d'un client</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1" id="form-edit-client">
                Un formulaire se chargera ici en fonction du client choisi
            </div>
        </div>
    </div>
</div>

<!-- FENETRE MODALE AFFICHAGE LISTE VEHICULES -->


<div id="modal-show-vehicles" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Véhicules enregistrés</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                {% include 'vehicle/edit.html.twig' %}
            </div>
        </div>
    </div>
</div>
