<div class="card">
    <div class="card-content light-green">
        <i class="material-icons left white-text">local_offer</i>
        <b>Clients & véhicules</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="clients-tabs">
            <li class="tab" id="clients-tab-1"><a href="#clients-clients" class="active light-green-text">Clients</a></li>
            <li class="tab" id="clients-tab-2"><a href="#clients-vehicles" class="light-green-text" >Véhicules</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="clients-clients">
            <a href="#modal-add-client" class="btn modal-trigger light-green">Ajouter un client</a>
        </div>
        <div id="clients-vehicles">
            Véhicules enregistrés
        </div>
    </div>
</div>
