<div class="card">
    <div class="card-content red ">
        <i class="material-icons left white-text">mode_comment</i>
        <b>Commentaires d'appels</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="comments-tabs">
            <li class="tab" id="comments-tab-1"><a href="#comments-list" class="active red-text">Liste</a></li>
            <li class="tab" id="comments-tab-2"><a href="#comments-add" class="red-text">Ajouter</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="comments-list">
            liste des commentaires existants (select)
        </div>
        <div id="comments-add">
            formulaire ajout
        </div>
    </div>
</div>
