<div class="card">
    <div class="card-content amber">
        <i class="material-icons left white-text">more</i>
        <b>Motifs d'appels</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="subjects-tabs">
            <li class="tab" id="subjects-tab-1"><a href="#subjects-list" class="active amber-text">Liste</a></li>
            <li class="tab" id="subjects-tab-2"><a href="#subjects-add" class="amber-text" >Ajouter</a></li>
            <li class="tab" id="subjects-tab-3"><a href="#subjects-edit" class="amber-text">Modifier</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="subjects-list">
            <div class="input-field ">
                <label for="subjects"></label>
                <select id="subject-selector">
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div id="subjects-add">
            <a  href="#modal-add-subject" class="btn modal-trigger amber"><i class="material-icons">add</i></a>
        </div>
        <div id="subjects-edit">
            <a href="#modal-edit-subject" class="btn modal-trigger amber darken-1"><i class="material-icons">edit</i></a>
        </div>
    </div>
</div>

<!-- MODALE AJOUT motifs -->

<div id="modal-add-subject" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Ajouter un motif</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                {% include 'subject/new.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- MODALE EDITION motifs -->

<div id="modal-edit-subject" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Modifier un motif</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                {% include 'subject/index.html.twig' %}
            </div>
        </div>
    </div>
</div>
