<div class="card">
    <div class="card-content orange">
        <i class="material-icons left white-text">person</i>
        <b>Collaborateurs</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="users-tabs">
            <li class="tab" id="users-tab-1"><a href="#users-list" class="active orange-text">Collaborateurs</a></li>
            <li class="tab" id="users-tab-2"><a href="#heads-list" class="orange-text" >Responsables</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="users-list">
            <a href="{{ path('user_index') }}" class="btn modal-trigger orange"><i class="material-icons ">list</i></a>
            <a href="#modal-search-user" class="btn modal-trigger orange"><i class="material-icons">search</i></a>
            <a  href="{{path('user_new')}}" class="btn orange"><i class="material-icons">add</i></a>
        </div>
        <div id="heads-list">
            <a href="{{ path('service_head_index') }}" class="btn orange"><i class="material-icons ">list</i></a>
            <a  href="{{path('service_head_new')}}" class="btn orange"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>

<!-- FENETRE MODALE RECHERCHE UTILISATEUR -->

<div id="modal-search-user" class="modal">
    <div class="modal-content">
        <h4>Rechercher un collaborateur</h4>
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-user-name" class="autocomplete">
                    <label for="autocomplete-input">Saisissez le nom d'un colllaborateur</label>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1" id="form-edit-user">
                </div>
            </div>
        </div>
    </div>
</div>


