<div class="card">
    <div class="card-content orange">
        <i class="material-icons left">person</i>
        <b>Utilisateurs</b>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width" id="users-tabs">
            <li class="tab" id="users-tab-1"><a href="#users-list" class="active orange-text">Liste</a></li>
            <li class="tab" id="users-tab-2"><a href="#users-add" class="orange-text" >Ajouter</a></li>
            <li class="tab" id="users-tab-3"><a href="#users-roles" class="orange-text" >Rôles</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="users-list">
            Liste des users (autocomplete)
        </div>
        <div id="users-add">
            Ajouter utilisateur
        </div>
        <div id="users-roles">
            Roles
        </div>
    </div>
</div>
