{{ form_start(form, {'action': path('call_transfer_do', {callId : call.id})}) }}
<div class="row">
    <div class="col input-field s12">
        {{ form_widget(form) }}
    </div>
</div>
<button class="btn light-blue">{{ button_label|default('Transférer') }} <i class="material-icons right">save</i> </button>
{{ form_end(form) }}
