<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce commentaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">Supprimer</button>
</form>
