{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Modification des commentaires</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    {{ include('comment/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('comment_index') }}">Retour à la liste</a>
{% endblock %}
