{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block navbar %}
    <header class="paddleft">
        <nav class="noshadow">
            <div class="nav-wrapper  white noshadow">
                <ul id="" class="left  noshadow">
                    <li>
                        <a href="#" class="black-text" data-action="hide" id="control-sidebar">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav sidenav-fixed" id="sidenav">
            <li>
                <div class="user-view">
                    <div class="background light-blue darken-2">
                    </div>
                    <img src="{{ asset('build/logo.jpg') }}" width="50"><br>
                    <div class="row">
                        <div class="col s12 white-text">
                            <span class="nomApp white-text">Easy Auto</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row connectrow flex">
                <div class="col s6 offset-s3">
                    <div class="">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Mot de passe</label>
                            </div>
                        </div>
                        <div class="row">
                            <a href="#" class="btn btn-large light-blue darken-2">Connexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
