{% extends 'base.html.twig' %}

{% block title %}Edit ServiceHead{% endblock %}

{% block body %}
    <h1>Edit ServiceHead</h1>
    <a href="{{ path('service_head_index') }}" class="btn mgt15 light-blue darken-1" >Retour à la liste</a>

    {{ include('service_head/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
