{{ form_start(form_concession, {'action': path('concession_new')})}}
    {{ form_widget(form_concession) }}
<button class="btn right">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form_concession) }}
