.admin-dashboard {
  h1 {
    font-family: Roboto;
    font-width: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

.admin-card .card-tabs ul.tabs li.tab a.active {
  color:#000 !important;
}

.card {
  border-radius:10px 10px 0 0;
  .card-content {
    border-radius:10px 10px 0 0;
    b {
      color:#FFF;
      text-transform:uppercase;
    }
  }
}

.card-tabs {
  ul.tabs {
    height:65px;
    li.tab {
      a.active {
        background:none;
      }
    }
  }
}

#users-card-admin {
  $coloru : #ff9800;
  .indicator {
    background:$coloru;
  }
}
#call-card-admin {
  $colorc : #009688;
  .indicator {
    background:$colorc;
  }
}
#civil-card-admin {
  $colorci : #03a9f4;
  .indicator {
    background:$colorci;
  }
}
#clients-card-admin {
  $colorcl : #8bc34a;
  .indicator {
    background:$colorcl;
  }
}
#comments-card-admin {
  $colorco : #f44336;
  .indicator {
    background:$colorco;
  }
}
#divers-card-admin {
  $colord : #00bcd4;
  .indicator {
    background:$colord;
  }
}
#locations-card-admin {
  $colorl : #795548;
  .indicator {
    background:$colorl;
  }
}
#subjects-card-admin {
  $colors : #ffc107;
  .indicator {
    background:$colors;
  }
}

.results {
  display:inline-block;
  padding-top:50px;
  font-size:1.3rem;
  text-align: left;
  opacity:0;
  animation: fadeout 4s ease-in-out;
}

.container {
  .c-index {
    display: flex;
    justify-content: center;
  }

}

