$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$blue-dbf : #03a9f4;

//Colors for Contact Types
$yellow : #ffeb3b;
$orange : #f57c00;
$grey : #414141;
$green : #8bc34a;
$red : #f44336;
