$primary-color: #f76c6c;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$blue-dbf : #03a9f4;

//Colors for Contact Types
$yellow : #ffca28;
$orange : #ff9800;
$darkOrange : #ff6f00;
$grey : #414141;
$green : #8bc34a;
$red : #e53935;
