.recallPeriod{
  div{
    ul{
      li:last-child{
        span{
          color: red ;
          text-transform: uppercase;
        }
      }
    }
  }
}

.call-switcher {
  margin-top:-20px;
}

.editor {
  margin-left:30px;
}
