/* Materialize import CSS */
@import "~materialize-css/sass/materialize.scss";

@import "vars";

.paddleft {
    padding-left: 300px;
}
.paddleft.large {
    padding-left: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-hz-center {
    justify-content: center;
}

.connectrow {
    height:80vh;
}

.nomApp {
    font-size:2rem;
}

.container {
    width:90%;
}

