/* Materialize import CSS */
@import "~materialize-css/sass/materialize.scss";
@import "vars";
@import "~triswitch";
@import "switch3";
@import "animations";
@import "general";
@import "navbar";
@import "forms";
@import "callList";
@import "userHome";
@import "admin";
@import "flashes";
@import "addCall";
@import "call_calendar";
@import "headBoard";

table{
  tr{
    &.bg-striped-row{
      background: $warm-color;
    }
  }
}
