

.flex {
  display: flex;
  align-items: center;
}

.flex-hz-center {
  justify-content: center;
}

.connectrow {
  height:80vh;
}

.nomApp {
  font-size:2rem;
}

.container {
  width:90%;
}

.noshadow {
  box-shadow: none;
}

.noborder {
  border:none;
}

li.active .collapsible-header {
  border-bottom:none;
  background: #eee;
}
li.active {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ficheappelLi {
  margin-bottom:10px;
}

i.tinyicon {
  font-size: 0.7rem;
  margin:0;
  padding:0;
}

.bdb {
  border-bottom: 1px solid #ccc;
}

.parDesc {
  padding:12px;
}

.bdb10 {
  margin-bottom:10px;
}
.flow-text {
  font-size:1.3rem;
}
.big-text {
  font-size: 1.2rem;
  margin:0;
}

table tr:last-child {
  border-bottom:none;
}

.smalltext {
  font-size:0.9rem;
}

.bdb0 {
  border-bottom: none;
}
.bdb1 {
  border-bottom: 1px solid #ccc !important;
}

.immat {
  padding:7px 15px;
  border:1px solid #414141;
  border-radius:6px;
  background:white;
  font-weight: bold;
}

.pdb15 td {
  padding-bottom: 35px !important;
}

.inline {
  display:inline-block;
}

.ligneappel {
  position:relative;
  border:1px solid #CCC;
  /* box-shadow: 0px 0px 6px rgba(0,0,0,0.5); */
}
.btn-pin {
  position:absolute;
  left:0;
  top:50%;
  margin-top:-20px;
  margin-left:-25px;
}


.row.message {
  border-left:10px solid #1976d2;
}
.row.abandon {
  border-left:10px solid #414141;
}
.row.contact {
  border-left:10px solid #8bc34a;
}
.row.emergency {
  border-left:10px solid #f44336;
}

.card.sticky-action {
  position: relative;
}
.date-callback {
  position:absolute;
  width:90%;
  margin-left:5%;
  padding:4px 0 4px 10px;
  text-align: center;
  left:0;
  top:-14px;
  font-weight: bold;
  color:#414141;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-callback .status-title {
  padding:2px 4px;
  border-radius:200px;
  margin:0 4px 0 0;
}

.card.sticky-action p {
  margin:0 0 20px 0;
}
.card.sticky-action a:not(.btn) {
  color:#999;
}
.card.sticky-action a:not(.btn):hover {
  color:#000;
  text-decoration:none;
}

.choices-atelier {
  margin:-20px 0 0 0;
  padding:0;
}
.col.vehicule {
  padding:7px;
  border-radius:7px;
}
.rowcard {
  display:block;
  padding:1px 0;
  border-bottom:0.5px solid #ccc;
}

.card-reveal .rowcard {
  padding-bottom:15px;
}

.card-reveal .card-title {
  margin-bottom:15px;
}

.card-reveal .message {
  display:block;
  font-size:1rem;
  margin:5px 5px 10px 10px;
}
.card-reveal .date-msg-line {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:7px;
}

.rowcard .chip i {
  padding:0;
  margin:-2px 0 0 0;
  display:inline-block;
  font-size:1.2rem;
  line-height: 100%;
  vertical-aligcaln: middle;

}
