.flashes {
  margin-top:15px;
  padding: 10px 10px;
  color:#fff;
  font-weight: bold;
  border-radius:5px;
  opacity:0%;
  animation-delay: 8s;
  animation: fadeout 4s ease-in-out;
  .flash-success {
    color:#039be5;
  }
  .flash-error {
    color:#bf360c;
  }
  &.success {
    background:#b3e5fc;
  }
  &.error {
    background:#ef9a9a;
  }
}
