i {
  &.small-more {
    font-size:1.5rem;
    display:inline-block;
    margin-left:3px;
    margin-top:5px;
    transform:rotate(45deg);
  }
}
.paddleft {
  padding-left: 49px;
  ul {
    &.left {
      padding-left:70px;
    }
  }
}
.paddleft.large {
  padding-left: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-hz-center {
  justify-content: center;
}

.connectrow {
  height:80vh;
}

.nomApp {
  font-size:2rem;
}

#easy-auto-sidenav {
  width:50px;
}

.container {
  width:90%;
}

h3.treat {
  text-align: center;
}

.row {
  margin-bottom:5px;
  &.with-hidden-fields {
    ul {
      display:none;
    }
    svg {
      display:none;
    }
    input {
      display:none;
    }
  }
}

.input-field {
  margin-top:0;
  margin-bottom:0;
  position:relative;

  .label-for-select {
    background: #fff;
    margin-top: 14px;
    z-index: 999;
    display: inline-block;
    position: absolute;
    margin-left: 0;
    padding: 0 10px;
  }

}

.sidenav li > a {
  padding: 0 15px;
}

.copyer {
  position:absolute;
  right:20px;
  top:7px;
  font-size:1rem;

  i {
    font-size:1.2rem;
  }
}

ul {
  &.list-calls {
    li {
      border-bottom: 1px solid #ccc;
      padding-top: 15px;
    }
  }
;
}

.mgt15 {
  margin-top:15px;
}

.mgt30 {
  margin-top: 30px;
}

.mgl30 {
  margin-left: 30px;
}

label:not(.active) {
  font-size:0.9rem;
  margin-left:5px;
  transform:translateY(6px);
}

label {
  width:auto !important;
  display:inline-block;
}

label.active {
  margin-top:3px;
  background:#fff;
  padding:0 5px;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
  height:2.5rem;
  padding-left:4px;
  border:1px solid #ccc;
  border-radius:4px;
}

.switch3-bar {
  border:2px solid #999;
}

.switch3-label {
  font-weight: 400;
  font-size:0.9rem;
}

h3 {
  font-size:2rem;
  font-weight: bold;
  color:#424242;
  position:relative;
  padding-left:10px;
  &::before {
    content:' ';
    display:block;
    position: absolute;
    left:-8px;
    top:50%;
    width:6px;
    height:6px;
    margin-top:-3px;
    border-radius: 50%;
    background: #424242;
  }
}

h5 {
  font-size:1.35rem;
}

.flow-text {
  font-size:1.2rem;
}

.callclient-marked {
  padding:5px 10px;
  border-radius:4px;
}

.modal {
  background:#fff;
}

a.btn-rounded {
  padding: 5px 10px;
  font-size: 1rem;
  background: $blue-dbf;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  }
}

.form-profile {
  margin-top: 5%;
}
