.headboard-table {
  tr {
    transition:all 0.2s ease-in-out;
    &:hover {
      background: $greyLight2;
      transition:all 0.2s ease-in-out;
    }
    &.active {
      background:white;
      td {
        &.subrow {
          span {
            position:relative;
            &::after {
              position:absolute;
              display:block;
              height:10px;
              width:20px;
              content:' ';
              top:50%;
              right:0;
              margin-top:3px;
              margin-right:-30px;
              border-top:1px solid black;
              border-right:1px solid black;
            }
          }
        }
      }
    }
    &.concession-line {
      td {
        &.subrow {
          padding-left:100px;
        }
      }
    }
    &.service-line {
      td {
        &.subrow {
          padding-left:200px;
        }
      }
    }
    &.user-line {
      td {
        &.subrow {
          padding-left:300px;
        }
      }
    }

    &.collapsor {
      td {
        span {
          &.chip {
            &.to-take {
              border-radius:0;
            }
          }
        }
      }
      &:hover {
        cursor:pointer;
      }
    }
    td {
      line-height: 40px;
      vertical-align: middle;
      border: none;
      &.subrow {
        border-radius: 0;
      }
      .city-name {
        font-size:1.4rem;
      }
      i {
        line-height: 40px;
        vertical-align: middle;
      }
    }
  }
}
