.organization {
  .flex {
    display:flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    &.flex-column {
      flex-direction: column;
    }
    &.flex-row {
      flex-direction: row;
    }
  }

}
