.call-stepper {
  border:none;
  font-size:0.9rem;
  .call-step {
    border-bottom:1px solid #ccc;
    &:last-of-type {
      border-bottom:none;
    }
    td {
      padding:6px 4px;
      border:none;
    }
  }
}

ul {
  &.list-calls {
    li {
      &.collection-item {
        padding-bottom:30px;
        border-bottom: none;
        &.cell-item {
          padding-bottom:0px;

          .place-name {
            margin-left:30px;
          }
        }
      }

    }
  }
}
