{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s8">
            <h3>Recherche</h3>
        </div>
        <div>
        {% include('/search/_form_search.html.twig') %}
        </div>
        <div>
            <h3>Résultats</h3>
            <ul>
                {% for call in  calls %}
                    <li>
                        {{ call.id }}client nom : {{ call.client.name }} Auteur : {{ call.author.firstname }} client phone : {{ call.client.phone }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
