<p>Bonjour,</p>

<br>
<p>Un appel dont vous êtes le destinataire a été ajouté à la plateforme</p>
{{ call.recipient }}
{{ call.subject }}
{{ call.comment }}
{{ call.client }}

<p>Merci de traiter cet appel</p>
