{% extends 'base.html.twig' %}

{% block title %}New Vehicle{% endblock %}

{% block body %}
    <div class="container">
    <h1>Create new Vehicle</h1>

    {{ include('vehicle/_form.html.twig') }}
    </div>
    <a href="{{ path('vehicle_index') }}">back to list</a>
{% endblock %}
