<form method="post" action="{{ path('city_delete', {'id': city.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette plaque?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn">Supprimer <i class="material-icons right">delete</i></button>
</form>
