{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Modification de la plaque</h1>

    {{ include('city/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    {{ include('city/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('city_index') }}">Retour à la liste</a>
{% endblock %}
