{% extends 'base.html.twig' %}

{% block title %}Easy Auto{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12 mgt30">
                <div class="col s12">
                    <h5 class="light-blue-text"><i class="material-icons left">person</i> Vos appels à traiter</h5>
                </div>
                <div class="col s12">
                    <ul class="list-calls" id="list-calls-to-process">
                        {% for call in calls %}
                            {% include 'call_process/_cell_call_row.html.twig' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col s12 mgt30">
                <div class="col s12">
                    <h5 class="light-blue-text"><i class="material-icons left">person</i> Appels en cours de traitement</h5>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-call-treatment" class="modal">
        <div class="modal-content" id="modal-content-call-treatment">

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">fermer</a>
        </div>
    </div>


    <div id="modal-call-transfer" class="modal">
        <div class="modal-content" id="modal-content-call-transfer">

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">fermer</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('newcalls') }}
{% endblock %}
