.landingform-page {
  font-size:1.2rem;
  .landing-container {
    padding:50px;
  }

  .header-landing {
    height:200px;
    background:linear-gradient(to bottom right, #01579b 25%, #2196f3);
      h4 {
        line-height: 200px;
        font-size: 3rem;
        padding-left:20px;
      }
  }
  i {
    margin-top:7px;
  }

  ::placeholder {
    color: $grey;
    font-size: 1.2rem;
  }

  .mgb20 {
    margin-bottom: 20px;
  }

  label {
    font-size: 1.2rem;
    background: #01579b !important;
    color:#fff;
  }
  input {
    background-color: rgba(255,255,255, 0.7) !important;
    &.upper {
      text-transform:uppercase;
      &::placeholder {
        text-transform: none;
      }
    }
  }
  textarea {
    background-color: rgba(255,255,255, 0.7) !important;
  }

  .landing_flash {
    min-height: 36px !important;
    line-height: 36px !important;
    border-radius: 4px;

    &.landing_success {
      background: #01579b;
    }

    &.landing_error {
      background: #f44336;
    }
  }

  span {
    &.textAlert {
      font-size: 1rem;
      margin-top: -10px;
      display: block;
    }
  }
}

.alert-form {
  padding:7px 10px;
}
.verysmalltext {
  font-size:0.7rem;
}
