{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flashes {{ type }}">
            <span class="flash-{{ type }}">{{ message }}</span>
            {% if type == 'success' %}
                <i class="material-icons light-blue-text right">check</i>
            {% else %}
                <i class="material-icons red-text right">error</i>
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}
