{% extends 'base.html.twig' %}

{% block title %}New CityHead{% endblock %}

{% block body %}
    <h1>Create new CityHead</h1>

    {{ include('city_head/_form.html.twig') }}

    <a href="{{ path('city_head_index') }}">back to list</a>
{% endblock %}
