{% extends 'base.html.twig' %}

{% block title %}CityHead{% endblock %}

{% block body %}
    <h1>CityHead</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city_head.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_head_index') }}">back to list</a>

    <a href="{{ path('city_head_edit', {'id': city_head.id}) }}">edit</a>

    {{ include('city_head/_delete_form.html.twig') }}
{% endblock %}
