<form method="post" action="{{ path('concession_head_delete', {'id': concession_head.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concession_head.id) }}">
    <button class="btn mgt15 light-blue darken-1"><i class="material-icons">delete</i></button>
</form>
