{{ form_start(form_head_concession) }}
    {{ form_widget(form_head_concession) }}
    <button class="btn light-blue darken-2">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form_head_concession) }}
