{% extends 'base.html.twig' %}

{% block title %}Edit ConcessionHead{% endblock %}

{% block body %}
    <div class="container">    <h1>Edit ConcessionHead</h1>
    <a href="{{ path('service_head_index') }}" class="btn mgt15 light-blue darken-1">Retour à la liste</a>

    {{ include('concession_head/_form_edit.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}
