{% extends 'base.html.twig' %}

{% block title %}Edit ConcessionHead{% endblock %}

{% block body %}
    <h1>Edit ConcessionHead</h1>

    {{ include('concession_head/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('concession_head_index') }}">back to list</a>

    {{ include('concession_head/_delete_form.html.twig') }}
{% endblock %}
