{% extends 'base.html.twig' %}

{% block title %}Ajout d'un appel{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h3>Ajout d'un appel</h3>
        </div>
        {{ include('call/_form.html.twig') }}
    </div>
<div class="container">
    <h3>Vos appels ajoutés</h3>
{% include 'call/index.html.twig' %}
</div>
{% endblock %}
