{% extends 'base.html.twig' %}

{% block title %}Ajout d'un appel{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s8">
                <h3>Ajout d'un appel</h3>
            </div>
            <div class="col s4">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                           <span class="flash-{{ type }}">{{ message }}</span>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
        {{ include('call/_form.html.twig') }}
    </div>

{% endblock %}


