{% extends 'base.html.twig' %}

{% block title %}Ajout d'un appel{% endblock %}

{% block body %}

    <div class="container">
        <h3>Ajout d'un appel</h3>
        {{ include('call/_form.html.twig') }}
    </div>

{% endblock %}
