{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mgt30">
        <div class="col s4 offset-s4 red center-align alert">
            <p>
                <i class="material-icons white-text">do_not_disturb_on</i>
            </p>
            <span class="bolder white-text">erreur 403</span>
            <h4 class="white-text">Accès interdit</h4>
        </div>
    </div>
</div>
{% endblock %}
