{% extends 'base.html.twig' %}
{% block title %}Appels Traités{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="treat">Appels Traités</h3>
        </div>

    </div>
{% endblock %}
