{% extends 'base.html.twig' %}
{% block title %}Appels à traiter{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
      <h3 class="treat">Appels à Traiter</h3>
  </div>

</div>
{% endblock %}
