{% extends 'base.html.twig' %}
{% block title %}Ajout d'un appel{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="treat">Ajout d'un appel</h3>
        </div>

    </div>
{% endblock %}
