{% extends 'base.html.twig' %}
{% block title %}Gestions des appels{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="treat">Gestions des appels</h3>
        </div>

    </div>
{% endblock %}
