{% extends 'base.html.twig' %}
{% block title %}Tous les Appels{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="treat">Tous les Appels</h3>
        </div>

    </div>
{% endblock %}
