{% extends 'base.html.twig' %}

{% block title %}Modification {% endblock %}

{% block body %}
    <h1>Edition d'un utilisateur</h1>

    <a href="{{ path('user_index') }}" class="btn mgt15 light-blue darken-1" >Retour à la liste</a>


    {{ include('user/_editForm.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}
