{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
    <h1><i class="medium left material-icons">clear_all</i> Collaborateurs</h1>
        <div class="d-flex flex-justify-between">
            <a href="{{ path('user_new') }}" class="btn light-blue darken-4">Ajouter</a>
            <div class="w-500">
                <input type="text" autofocus="autofocus" placeholder="Nom de famille" data-controller="search" data-action="keyup->search#search">
                <div class="progress opacity-0" id="search-loader">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
        {% include 'components/_flashes.html.twig' %}

        <div id="collabs-list">
            {% include 'user/_collabs_table.html.twig' %}
        </div>

    </div>
{% endblock %}
