{% extends 'base.html.twig' %}

{% block title %}Ajouter un collaborateur{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="light-blue darken-4"><i class="medium left material-icons">add_circle_outline</i>Ajouter un collaborateur</h1>
    <a href="{{ path('user_index') }}" class="btn light-blue ">Retour à la liste</a>

    {{ include('user/_form.html.twig') }}

    </div>
{% endblock %}
